body{
    background-color:black;
    color:white ;
}
a{
    text-decoration: none;
    font-size: larger;
    background-color: white;
    border-radius: 1em;
    padding: 10px;
    color: black;
}
div{
	margin: 20px;
}

#enviado{
	float: right;
	clear: right;
	background-color:green;
	border-radius: 1em;
	padding: 3px;
}
#recibido{
	float:left;
	clear: left;
}

#caja{
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

